In [229]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [230]:
# displaying all columns in the dataset
pd.set_option('display.max_columns', None)

#reading and displaying the dataset in pandas
df = pd.read_csv('Attrition.csv', low_memory=False)
df.head()

,id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,2,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,3,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,4,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,5,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1470 non-null   int64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1470 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1470 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1470 non-null   object
 19  MonthlyIncome             1470 non-null   int64
 20  MonthlyRate               1470 non-null   int64
 21  NumCompaniesWorked        1470 non-null   int64
 22  Over18                    1470 non-null   object
 23  OverTime                  1470 non-null   object
 24  PercentSalaryHike         1470 non-null   int64
 25  PerformanceRating         1470 non-null   int64
 26  RelationshipSatisfaction  1470 non-null   int64
 27  StandardHours             1470 non-null   int64
 28  StockOptionLevel          1470 non-null   int64
 29  TotalWorkingYears         1470 non-null   int64
 30  TrainingTimesLastYear     1470 non-null   int64
 31  WorkLifeBalance           1470 non-null   int64
 32  YearsAtCompany            1470 non-null   int64
 33  YearsInCurrentRole        1470 non-null   int64
 34  YearsSinceLastPromotion   1470 non-null   int64
 35  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [232]:
df.isnull().sum()

id                          0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [233]:
df.dtypes

id                           int64
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [234]:
df['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [235]:
age = df['Age'].unique()
for i in sorted(age):
    print(i, end=', ')

18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,

In [236]:
bins= [18, 31, 46, 61]
group = ['18-30', '31-45', '46-60']

df['Age'] = pd.cut(df['Age'], bins=bins, labels=group, right=False)

df['Age'].sample(5)

615     18-30
1429    31-45
1067    46-60
261     31-45
1414    46-60
Name: Age, dtype: category
Categories (3, object): ['18-30' < '31-45' < '46-60']

In [237]:

for i in sorted(df.DistanceFromHome.unique()):
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,

In [238]:
bins= [1, 10, 20, 30]
labels = ['Near-by', 'Far', 'Very far']

df['DistanceFromHome'] = pd.cut(df['DistanceFromHome'], bins=bins, labels=labels, right=False)
df['DistanceFromHome'].sample(5)

1021    Near-by
225     Near-by
265     Near-by
1182    Near-by
987     Near-by
Name: DistanceFromHome, dtype: category
Categories (3, object): ['Near-by' < 'Far' < 'Very far']

In [239]:
df['PerformanceRating'].unique()

array([3, 4], dtype=int64)

In [240]:
df.PerformanceRating = df.PerformanceRating.map({3: 'Low', 4: 'High'})
df.PerformanceRating.sample(5)

735     Low
783     Low
716     Low
76      Low
1303    Low
Name: PerformanceRating, dtype: object

In [241]:
df.JobLevel.unique()

array([2, 1, 3, 4, 5], dtype=int64)

In [242]:
df.JobLevel = df.JobLevel.map({1: 'Entry level',
                               2: 'Junior or Associate',
                               3: 'Mid level Specialist',
                               4: 'Senior',
                               5: 'Executive'})
df.JobLevel.sample(5)

749               Executive
551     Junior or Associate
1126              Executive
592                  Senior
1118            Entry level
Name: JobLevel, dtype: object

In [243]:
columns = ['EnvironmentSatisfaction', 'RelationshipSatisfaction', 'JobSatisfaction', 'JobInvolvement']
for column in columns:
    unique_values = df[column].unique()
    print(f"Unique values for {column}: {unique_values}")

Unique values for EnvironmentSatisfaction: [2 3 4 1]
Unique values for RelationshipSatisfaction: [1 4 2 3]
Unique values for JobSatisfaction: [4 2 3 1]
Unique values for JobInvolvement: [3 2 4 1]

In [244]:
def map_values(value):
    if value == 1:
        return 'Very dissatisfied'
    elif value == 2:
        return 'Dissatisfied'
    elif value == 3:
        return 'Satisfied'
    else:
        return 'Very satisfied'

columns = ['EnvironmentSatisfaction', 'RelationshipSatisfaction', 'JobSatisfaction', 'JobInvolvement']

# Apply the map_values function to each column
for column in columns:
    df[column] = df[column].apply(map_values)

In [245]:
df[['EnvironmentSatisfaction', 'RelationshipSatisfaction', 'JobSatisfaction', 'JobInvolvement']].sample(5)

,EnvironmentSatisfaction,RelationshipSatisfaction,JobSatisfaction,JobInvolvement
718,Very satisfied,Satisfied,Very dissatisfied,Satisfied
1093,Very satisfied,Satisfied,Very satisfied,Satisfied
395,Very satisfied,Very dissatisfied,Very satisfied,Satisfied
1007,Satisfied,Very dissatisfied,Very satisfied,Satisfied
742,Very dissatisfied,Dissatisfied,Very satisfied,Satisfied

In [246]:
df.OverTime.unique()

array(['Yes', 'No'], dtype=object)

In [247]:
df.WorkLifeBalance.unique()

array([1, 3, 2, 4], dtype=int64)

In [248]:
df.WorkLifeBalance = df.WorkLifeBalance.map({1 : 'Bad',
                                             2: 'Average',
                                             3: 'Good',
                                             4: 'Excellent'})
df.WorkLifeBalance.unique()

array(['Bad', 'Good', 'Average', 'Excellent'], dtype=object)

In [249]:
df.Education = df.Education.map({1 : 'Technical Training',
                                             2: 'College',
                                             3: 'Bachelors degree',
                                             4: 'Masters degree',
                                             5: 'Doctorate degree'})
df.Education.unique()

array(['College', 'Technical Training', 'Masters degree',
       'Bachelors degree', 'Doctorate degree'], dtype=object)

In [250]:
df.StockOptionLevel = df.StockOptionLevel.map({0 : 'Level 1',
                                1: 'Level 2',
                                2: 'Level 3',
                                3: 'Level 4'})
df.StockOptionLevel.unique()

array(['Level 1', 'Level 2', 'Level 4', 'Level 3'], dtype=object)

In [251]:
columns = ['TotalWorkingYears', 'YearsAtCompany']
for column in columns:
    unique_values = df[column].min()
    unique_value = df[column].max()
    print(f"Minimum and Maximum value for {column} is {unique_values} and {unique_value}")

Minimum and Maximum value for TotalWorkingYears is 0 and 40
Minimum and Maximum value for YearsAtCompany is 0 and 40

In [252]:
bins= [0, 10, 20, 30]
group = ['1-10', '11-20', '21-30']
columns = ['TotalWorkingYears', 'YearsAtCompany']
for col in columns:
    df[col] = pd.cut(df[col], bins=bins, labels=group, right=False).cat.add_categories('31-40').fillna('31-40')


df[['TotalWorkingYears', 'YearsAtCompany']].sample(5)

     TotalWorkingYears YearsAtCompany
545              11-20           1-10
1345              1-10           1-10
930               1-10           1-10
997               1-10           1-10
1239              1-10           1-10

In [253]:
columns = ['BusinessTravel', 'Department', 'Gender', 'MaritalStatus']
for column in columns:
    unique_values = df[column].unique()
    print(f"Unique values for {column}: {unique_values}")

Unique values for BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Unique values for Department: ['Sales' 'Research & Development' 'Human Resources']
Unique values for Gender: ['Female' 'Male']
Unique values for MaritalStatus: ['Single' 'Married' 'Divorced']

In [254]:
df.head(10)

,id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,31-45,Yes,Travel_Rarely,1102,Sales,Near-by,College,Life Sciences,1,1,Dissatisfied,Female,94,Satisfied,Junior or Associate,Sales Executive,Very satisfied,Single,5993,19479,8,Y,Yes,11,Low,Very dissatisfied,80,Level 1,1-10,0,Bad,1-10,4,0,5
1,2,46-60,No,Travel_Frequently,279,Research & Development,Near-by,Technical Training,Life Sciences,1,2,Satisfied,Male,61,Dissatisfied,Junior or Associate,Research Scientist,Dissatisfied,Married,5130,24907,1,Y,No,23,High,Very satisfied,80,Level 2,11-20,3,Good,11-20,7,1,7
2,3,31-45,Yes,Travel_Rarely,1373,Research & Development,Near-by,College,Other,1,4,Very satisfied,Male,92,Dissatisfied,Entry level,Laboratory Technician,Satisfied,Single,2090,2396,6,Y,Yes,15,Low,Dissatisfied,80,Level 1,1-10,3,Good,1-10,0,0,0
3,4,31-45,No,Travel_Frequently,1392,Research & Development,Near-by,Masters degree,Life Sciences,1,5,Very satisfied,Female,56,Satisfied,Entry level,Research Scientist,Satisfied,Married,2909,23159,1,Y,Yes,11,Low,Satisfied,80,Level 1,1-10,3,Good,1-10,7,3,0
4,5,18-30,No,Travel_Rarely,591,Research & Development,Near-by,Technical Training,Medical,1,7,Very dissatisfied,Male,40,Satisfied,Entry level,Laboratory Technician,Dissatisfied,Married,3468,16632,9,Y,No,12,Low,Very satisfied,80,Level 2,1-10,3,Good,1-10,2,2,2
5,6,31-45,No,Travel_Frequently,1005,Research & Development,Near-by,College,Life Sciences,1,8,Very satisfied,Male,79,Satisfied,Entry level,Laboratory Technician,Very satisfied,Single,3068,11864,0,Y,No,13,Low,Satisfied,80,Level 1,1-10,2,Average,1-10,7,3,6
6,7,46-60,No,Travel_Rarely,1324,Research & Development,Near-by,Bachelors degree,Medical,1,10,Satisfied,Female,81,Very satisfied,Entry level,Laboratory Technician,Very dissatisfied,Married,2670,9964,4,Y,Yes,20,High,Very dissatisfied,80,Level 4,11-20,3,Average,1-10,0,0,0
7,8,18-30,No,Travel_Rarely,1358,Research & Development,Very far,Technical Training,Life Sciences,1,11,Very satisfied,Male,67,Satisfied,Entry level,Laboratory Technician,Satisfied,Divorced,2693,13335,1,Y,No,22,High,Dissatisfied,80,Level 2,1-10,2,Good,1-10,0,0,0
8,9,31-45,No,Travel_Frequently,216,Research & Development,Very far,Bachelors degree,Life Sciences,1,12,Very satisfied,Male,44,Dissatisfied,Mid level Specialist,Manufacturing Director,Satisfied,Single,9526,8787,0,Y,No,21,High,Dissatisfied,80,Level 1,11-20,2,Good,1-10,7,1,8
9,10,31-45,No,Travel_Rarely,1299,Research & Development,Very far,Bachelors degree,Medical,1,13,Satisfied,Male,94,Satisfied,Junior or Associate,Healthcare Representative,Satisfied,Married,5237,16577,6,Y,No,13,Low,Dissatisfied,80,Level 3,11-20,3,Average,1-10,7,7,7

In [255]:
df.columns

Index(['id', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')